.ant-card {
  width: 300px;
  height: fit-content;
  max-height: 300px;
}

.ant-card-body {
  overflow: hidden;
  height: 184px;
  max-height: 184px;
}

.ant-spin {
  position: fixed !important;
  height: 100vh !important;
  max-height: 100vh !important;
}

.ant-spin-nested-loading {
  margin: 20px;
}