.ant-card {
  width: 300px;
  height: fit-content;
  max-height: 300px;
}

.ant-card-body {
  overflow: hidden;
  height: 184px;
  max-height: 184px;
}

nav + div {
  background-image: url("../public/background.png");
}