.container {
  min-height: calc(100vh - 115px);
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 20px;

  .noNotes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
    height: calc(100vh - 75px);
  }
}